@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  margin: var(--spacing-large);
  margin-top: 40px;
  flex: 1;
}

.scrollContent {
  flex-grow: 1;
}

.lottie {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
