.content {
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black-90);
  background-color: var(--color-body);
}

.header {
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-medium);
  margin: auto;
}

.text {
  margin-right: var(--spacing-small);
  color: var(--color-black-10);
  font-weight: 600;
  text-transform: uppercase;
}

.settings {
  display: flex;
}

.icon {
  cursor: pointer;
}
