@import '@killerparty/ui/assets/styles/variables.module.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-black-90);
}

.view {
  margin: var(--spacing-large);
  background-color: var(--color-body);
  display: flex;
  flex: 1;
}

.content {
  margin-top: 40px;
  flex: 1;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.icon {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.iconPressed {
  background-color: var(--color-black-80);
}

.lottie {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}
