@keyframes :global(grow) {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes :global(spin) {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
