:root {
  /** White colors */
  --color-white: hsl(255deg 100% 100%);

  /** Black colors */
  --color-black-10: hsl(210deg 7% 10%);
  --color-black-20: hsl(210deg 7% 20%);
  --color-black-30: hsl(210deg 7% 30%);
  --color-black-40: hsl(210deg 7% 40%);
  --color-black-50: hsl(210deg 7% 50%);
  --color-black-60: hsl(210deg 7% 60%);
  --color-black-70: hsl(210deg 7% 70%);
  --color-black-80: hsl(210deg 7% 80%);
  --color-black-90: hsl(210deg 7% 90%);

  /** Grey colors */
  --color-grey-40: hsl(20deg 3% 40%);

  /** Yellow colors */
  --color-yellow-50: hsl(53deg 100% 50%);
  --color-yellow-60: hsl(53deg 100% 60%);
  --color-yellow-70: hsl(53deg 98% 70%);
  --color-yellow-80: hsl(53deg 98% 80%);
  --color-yellow-90: hsl(53deg 100% 90%);

  /** Camel colors */
  --color-camel-97: hsl(30deg 75% 97%);
  --color-camel-90: hsl(27deg 65% 90%);

  /** Blue colors */
  --color-blue-90: hsl(207deg 96% 90%);
  --color-blue-70: hsl(207deg 96% 70%);

  /* Font sizes */
  --text-small: 16px;
  --text-medium: 18px;
  --text-large: 20px;

  /* Box shadows */
  --shadow-small: var(--color-black-80) 0 2px 4px;

  /* Spacing */
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;

  /** Radius */
  --radius-small: 5px;
}
