.gallery {
  display: flex;
  overflow: auto;
  flex-direction: row;
  padding: 20px var(--spacing-small);
  border-top: 1px solid var(--color-black-90);
  border-bottom: 1px solid var(--color-black-90);
  gap: var(--spacing-medium);

  @media (width >= 720px) {
    justify-content: center;
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    padding-left: var(--spacing-large);
  }
}

.content {
  position: relative;
}

.selected svg {
  box-shadow: var(--color-green-40) 0 0 0 5px;
}

.avatar svg {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: drop-shadow(var(--shadow-small));

  &:hover {
    cursor: pointer;
  }
}

.checked {
  position: absolute;
  top: 70%;
  right: 0;
  height: 30px;
}
