.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

  & > p {
    color: var(--color-black-20);
  }

  & > * {
    margin-bottom: var(--spacing-large);
  }
}

.lottie {
  width: 50%;
  height: 50%;
}

.contact {
  font-size: var(--text-large);
  font-weight: 500;

  &:hover {
    color: var(--color-black-100);
    font-weight: 600;
  }
}
