.content {
  margin-top: 200px;
}

.textDescription {
  margin-top: 30px;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  padding: 20px;
  background-color: hsl(210deg 7% 20%);
  color: hsl(255deg 100% 100%);
  font-size: 18px;

  &:hover {
    background-color: hsl(210deg 7% 25%);
  }
}
