.lottie {
  height: 50vh;

  @media (width <= 720px) {
    height: 30vh;
  }
}

.selectPseudo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);

  @media (width >= 720px) {
    width: 50%;
    flex-direction: row;
    margin: 0 auto;
  }
}
