.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (width <= 720px) {
    flex-direction: column;
  }
}

.spacing {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);

  @media (width >= 720px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.resume {
  composes: spacing;

  & h1,
  h2 {
    margin-bottom: 30px;

    @media (width <= 720px) {
      margin-bottom: 20px;
    }
  }
}

.mobileLottie {
  max-width: 80vw;
  margin: auto;

  @media (width >= 720px) {
    display: none;
  }
}

.webLottie {
  max-width: 35vw;
  height: 70vh;
  margin-top: -15px;

  @media (width <= 720px) {
    display: none;
  }
}
