@import '@killerparty/ui/assets/styles/variables.module.css';

.view {
  padding: var(--spacing-large);
  background-color: var(--color-body);
  display: flex;
  flex: 1;
}

.content {
  margin-top: 40px;
  flex: 1;
}
