@import url('@killerparty/ui/assets/styles/fonts.module.css');
@import url('@killerparty/ui/assets/styles/variables.module.css');
@import url('@/assets/styles/preflight.module.css');
@import url('@/assets/styles/animations.module.css');

:root {
  background-color: var(--color-body);
  font-family: Inter, sans-serif;
  letter-spacing: -0.05rem;
}

body,
html {
  width: 100%;
  height: 100%;
}

* {
  font-size: var(--text-small);
}

p,
span,
input {
  @media (width >= 720px) {
    font-size: var(--text-medium);
  }
}

h1 {
  font-size: 24px;

  @media (width >= 720px) {
    font-size: 38px;
  }
}

h2 {
  font-size: var(--text-large);
  font-weight: 400;

  @media (width >= 720px) {
    font-size: 22px;
    font-weight: 500;
  }
}

strong {
  font-weight: 500;
}

p {
  color: var(--color-black-40);
  white-space: pre-line;
}

svg {
  cursor: pointer;
}

input {
  outline: none;
}

input::placeholder {
  color: var(--color-black-60);
  font-size: var(--text-small);
}
