.actions {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-large);
  gap: var(--spacing-small);

  @media (width >= 720px) {
    flex-direction: row;

    & button {
      /* TODO: Remove 100% width on every button */
      width: fit-content;
    }
  }
}
