@import '@killerparty/ui/assets/styles/variables.module.css';

.missions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}

.image {
  height: 70px;
  width: 70px;
  margin-right: var(--spacing-small);
}

.title {
  font-size: var(--text-large);
  margin-bottom: var(--spacing-small);
}

.cards {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-small);
  flex-wrap: wrap;
}

.card {
  position: relative;
  padding: var(--spacing-small);
  border: 1px solid var(--color-black-60);
  border-radius: var(--radius-small);
  margin-top: var(--spacing-small);
  margin-right: var(--spacing-small);
  background-color: var(--button-secondary);
  box-shadow: var(--shadow-small);
  font-size: var(--text-medium);
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  color: var(--color-white);
  margin: 0 10px;
  font-size: 16px;
}

.deleteMission {
  background-color: var(--color-red-70);
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}
