.content {
  display: flex;
  justify-content: center;
}

.title {
  margin-bottom: var(--spacing-medium);
  font-size: 22px;
  text-align: center;
}

.avatar svg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: var(--spacing-medium);
  box-shadow: #fed701 0 0 0 5px;
  filter: drop-shadow(var(--shadow-small));
}
