.button {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-small);
  font-size: var(--text-small);
  transition: background-color ease-in-out 500ms, opacity ease-in-out 500ms;

  &:disabled {
    opacity: 0.8;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:hover:is(:disabled) {
    cursor: not-allowed;
  }

  @media (min-width: 720px) {
    padding: var(--spacing-medium);
    font-size: var(--text-medium);
  }
}

.primary {
  background-color: var(--color-black-30);
  color: var(--color-white);

  &:hover:not(:disabled) {
    background-color: var(--color-black-20);
  }

  .spinner circle {
    stroke: var(--color-black-50);
  }
}

.secondary {
  background-color: var(--color-yellow-70);
  color: var(--color-black-30);

  &:hover:not(:disabled) {
    background-color: var(--color-yellow-60);
  }

  .spinner circle {
    stroke: var(--color-yellow-80);
  }
}

.spinner {
  position: absolute;
  height: 20px;

  :global {
    animation: spin 1s linear infinite;
  }
}

.hidden {
  visibility: hidden;
}
