.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.label {
  padding-bottom: var(--spacing-small);
  color: var(--color-grey-40);
}

.input {
  padding: var(--spacing-small);
  border: 2px solid var(--color-blue-90);
  border-radius: var(--radius-small);
  font-size: var(--text-medium);
  outline: none;
  transition: ease-in-out 500ms;

  &:focus-visible {
    border: 2px solid var(--color-blue-70);
  }
}

.uppercase {
  text-transform: uppercase;
}
