.content {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(72 72 72 / 50%);
}

.modal {
  position: relative;
  top: 33%;
  padding: var(--spacing-medium);
  border-radius: var(--radius-small);
  margin: auto;
  margin-right: var(--spacing-medium);
  margin-left: var(--spacing-medium);
  background-color: var(--color-camel-97);

  @media (min-width: 720px) {
    margin-right: 25%;
    margin-left: 25%;
  }

  @media (min-width: 1080px) {
    margin-right: 35%;
    margin-left: 35%;
  }
}

.icon {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  cursor: pointer;
  fill: var(--color-black-40);
  transition: fill ease-in-out 200ms;

  &:hover {
    fill: var(--color-black-20);
  }
}
