.content {
  padding: var(--spacing-medium) 0;
}

.title {
  margin-bottom: var(--spacing-medium);
  font-size: var(--text-large);
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-between;

  @media (width <= 768px) {
    flex-direction: column;
  }
}
