@import '@killerparty/ui/assets/styles/variables.module.css';

.container {
  flex: 1;
  margin-top: 40px;
  padding: var(--spacing-large);
  background-color: var(--color-body);
}

.title {
  font-size: 26px;
  text-align: center;
  margin-bottom: var(--spacing-medium);
}
