@import '@killerparty/ui/assets/styles/variables.module.css';

.rankingTextContent {
  margin-bottom: var(--spacing-large);
}

.rankingSubtitle {
  font-size: var(--text-large);
  margin-bottom: var(--spacing-small);
}

.rankingDescription {
  font-size: var(--text-small);
}

.rankingPlayerContent {
  margin-bottom: var(--spacing-small);
}

.rankingPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-small);
  border: 1px solid var(--color-black-90);
  margin-bottom: var(--spacing-small);
  background-color: var(--color-body-secondary);
}

.rankingIcon {
  height: 50px;
  width: 50px;
}
