@import '@killerparty/ui/assets/styles/variables.module.css';

.view {
  padding: var(--spacing-large);
  background-color: var(--color-body);
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.label {
  padding-bottom: var(--spacing-small);
  color: var(--color-grey-40);
}

.input {
  padding: var(--spacing-small);
  border: 2px solid var(--color-blue-90);
  border-radius: var(--radius-small);
  font-size: var(--text-very-small);
  background-color: var(--color-white);

  &:focus-visible {
    border: 2px solid var(--color-blue-70);
  }
}
