@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  margin-top: 40px;
  background-color: var(--color-body);
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: var(--spacing-medium);
  border-bottom: 1px solid var(--color-black-90);
  margin-bottom: var(--spacing-medium);
}

.howToPlayView {
  display: flex;
  align-items: flex-end;
}

.howToPlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-large) 0;
  background-color: var(--button-primary);
  box-shadow: var(--shadow-large);
  border-radius: 50px;
  padding: 10px 15px;
}

.howToPlayText {
  margin-left: 5px;
  text-align: center;
  font-size: 12px;
  color: var(--color-white);
}

.howToPlayPressed {
  background-color: var(--button-primary-pressed);
}

.title {
  font-size: 26px;
  text-align: center;
  margin-bottom: var(--spacing-medium);
}

.joinRoomCode {
  text-align: center;
  margin-bottom: var(--spacing-small);
}

.image {
  align-self: center;
  margin-bottom: -20px;
}
