@import '@killerparty/ui/assets/styles/variables.module.css';

.missions {
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-small);
  border: 1px solid var(--color-black-90);
  background-color: var(--color-body-secondary);
}

.text {
  font-weight: 600;
  text-align: center;
}
