.gallery {
  display: flex;
  overflow: auto;
  flex-direction: row;
  padding: 20px var(--spacing-small);
  border-top: 1px solid var(--color-black-90);
  border-bottom: 1px solid var(--color-black-90);
  gap: 20px;

  @media (width >= 720px) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  & svg {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(var(--shadow-small));

    &:hover {
      cursor: pointer;

      :global {
        animation: grow 1s infinite;
      }
    }
  }
}
