.spacing {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);

  @media (width >= 720px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.introduction {
  composes: spacing;
  text-align: center;

  @media (width <= 720px) {
    text-align: left;
  }

  & h1,
  h2 {
    margin-bottom: 30px;

    @media (width <= 720px) {
      margin-bottom: 20px;
    }
  }
}
