.step {
  composes: spacing from './index.module.css';
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-black-90);

  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.number {
  width: 50px;
  margin-right: 60px;
  margin-left: 60px;
  color: var(--color-black-20);
  font-size: 60px;

  @media (max-width: 720px) {
    display: none;
  }
}
