.content {
  margin-bottom: var(--spacing-large);

  @media (width <= 1280px) {
    margin-top: var(--spacing-medium);
  }

  @media (width >= 1280px) {
    width: 400px;
  }
}

.item {
  position: relative;
}

.player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-small);
  border: 1px solid var(--color-black-90);
  margin-bottom: var(--spacing-small);
  background-color: var(--color-body-secondary);
  text-align: center;
}

.avatarContent {
  position: relative;
}

.crown {
  position: absolute;
  top: -14%;
  right: 12px;
  height: 30px;
}

.currentPlayer svg {
  box-shadow: var(--color-green-40) 0 0 0 5px;
}

.otherPlayer svg {
  box-shadow: var(--color-black-70) 0 0 0 5px;
}

.adminPlayer svg {
  box-shadow: #fed701 0 0 0 5px;
}

.avatar {
  & svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow(var(--shadow-small));

    &:hover {
      cursor: pointer;

      :global {
        animation: grow 1s infinite;
      }
    }
  }
}

.icon {
  height: 25px;
}

.kickPlayer {
  position: absolute;
  top: -10px;
  left: -10px;
  cursor: pointer;
}

.button {
  background-color: var(--color-red-70);

  &:hover:not(:disabled) {
    background-color: var(--color-red-60);
  }
}
