.content {
  position: relative;
  padding-bottom: var(--spacing-medium);
  border-bottom: 1px solid var(--color-black-90);
  margin-bottom: var(--spacing-medium);
}

.icon {
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
}
