.currentPlayer svg {
  box-shadow: var(--color-green-40) 0 0 0 5px;
}

.otherPlayer svg {
  box-shadow: var(--color-black-70) 0 0 0 5px;
}

.adminPlayer svg {
  box-shadow: #fed701 0 0 0 5px;
}

.avatar svg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: drop-shadow(var(--shadow-small));

  &:hover {
    cursor: pointer;
  }
}
