@import '@killerparty/ui/assets/styles/variables.module.css';

.view {
  margin: var(--spacing-large);
  background-color: var(--color-body);
  display: flex;
  flex: 1;
}

.content {
  margin-top: 40px;
  flex: 1;
}

.lottie {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-top: -5px;
}
