@import '@killerparty/ui/assets/styles/variables.module.css';

.container {
  flex: 1;
}

.fadeInView {
  flex: 1;
}

.howToPlayView {
  display: flex;
  align-items: flex-end;
}

.howToPlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-right: 20px;
  background-color: var(--color-black-20);
  box-shadow: var(--shadow-large);
  border-radius: 50px;
  padding: 10px 15px;
}

.howToPlayText {
  margin-left: 5px;
  text-align: center;
  font-size: 12px;
  color: var(--color-white);
}

.howToPlayPressed {
  background-color: var(--color-black-40);
}

.header {
  flex: 1;
  justify-content: center;
}

.image {
  margin: 0 auto;
  margin-bottom: -30px;
}

.banner {
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: bisque;
  box-shadow: var(--shadow-small);
}

.title {
  font-size: 35px;
  font-weight: 600;
  margin: 0 5%;
  padding: 10px;
  color: var(--color-black-30);
}

.headline {
  text-align: center;
  color: var(--color-black-40);
}

.actions {
  bottom: 0;
  margin: 20px;
}
