@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  padding: var(--spacing-medium);
  border: 1px solid var(--color-black-90);
  margin-top: var(--spacing-medium);
  background-color: var(--color-body-secondary);
}

.title {
  margin-bottom: var(--spacing-medium);
}

.condition {
  display: flex;
  flex-direction: row;
}

.conditionChecked {
  color: var(--color-green-40);
  font-weight: 500;
}

.conditionUnchecked {
  color: var(--color-red-70);
  font-weight: 500;
}

.icon {
  height: 17px;
  width: 17px;
  margin-right: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}
