@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.label {
  padding-bottom: var(--spacing-small);
  color: var(--color-grey-40);
}

.input {
  padding: var(--spacing-small);
  border: 2px solid var(--color-blue-90);
  border-radius: var(--radius-small);
  font-size: var(--text-medium);
  background-color: var(--color-white);
  margin-bottom: var(--spacing-small);
}
