@import '@killerparty/ui/assets/styles/variables.module.css';

.container {
  background-color: var(--color-body);
}

.content {
  background-color: var(--color-body);
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: var(--spacing-medium);
  border-bottom: 1px solid var(--color-black-90);
  margin-bottom: var(--spacing-medium);
}

.title {
  font-size: 26px;
  text-align: center;
  margin-bottom: var(--spacing-medium);
}

.joinRoomCode {
  text-align: center;
  margin-bottom: var(--spacing-small);
}

.image {
  height: 125px;
  width: 125px;
  align-self: center;
}
