.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  width: 0;
  background-color: #fef5ed;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  will-change: width;
}

.sidebarOpen {
  width: 25%;
  padding: var(--spacing-medium);
  border-left: 1px solid #dcdcd9;

  @media screen and (width <= 768px) {
    width: 100%;
  }
}
