@import '@killerparty/ui/assets/styles/variables.module.css';

.button {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-medium);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-small);
  transition: background-color ease-in-out 500ms, opacity ease-in-out 500ms;
  margin-bottom: var(--spacing-small);

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:hover:is(:disabled) {
    cursor: not-allowed;
  }
}

.disabled {
  opacity: 0.5;
}

.primary {
  background-color: var(--color-black-30);

  .spinner circle {
    stroke: var(--color-black-50);
  }
}

.primaryText {
  color: var(--color-white);
  font-size: var(--text-small);
}

.primaryPressed {
  background-color: var(--color-black-20);
}

.secondary {
  background-color: var(--color-yellow-70);
  color: var(--color-black-30);

  .spinner circle {
    stroke: var(--color-yellow-80);
  }
}

.secondaryText {
  color: var(--color-black-30);
  font-size: var(--text-small);
}

.secondaryPressed {
  background-color: var(--color-yellow-60);
}
