@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  padding: var(--spacing-medium);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--spacing-small);
}

.button {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text {
  color: var(--color-white);
  font-size: var(--text-small);
}

.disabled {
  opacity: 0.5;
}

.primary {
  background-color: var(--button-primary);
}

.secondary {
  background-color: var(--button-secondary);
}

.primaryPressed {
  background-color: var(--button-primary-pressed);
}

.secondaryPressed {
  background-color: var(--button-secondary-pressed);
}
