@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  display: flex;
  justify-content: space-between;
}

.avatar {
  align-items: center;
  border-width: 2px;
  border-color: var(--color-black-80);

  box-shadow: var(--shadow-small);
  padding: 30px;
  background-color: bisque;
  margin-bottom: var(--spacing-medium);
}
