@import '@killerparty/ui/assets/styles/variables.module.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-black-90);
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.icon {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.iconPressed {
  background-color: var(--color-black-80);
}

.deactivateIcon {
  opacity: 0;
}
