@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  display: flex;
  flex: 1;
}

.label {
  font-weight: 600;
}

.input {
  padding: var(--spacing-small) 0;
  margin-bottom: var(--spacing-medium);
  border-bottom-width: 2px;
  font-weight: 500;
  font-size: var(--text-large);
}
