@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  margin: var(--spacing-large);
  justify-content: center;
}

.lottie {
  margin-top: -25px;
  height: 300px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: var(--spacing-small);
  color: var(--color-black-40);
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-small);
  border: 1px solid var(--color-black-90);
  margin-bottom: var(--spacing-small);
  background-color: var(--color-body-secondary);
  text-align: center;
}

.icon {
  height: 25px;
  width: 25px;
}

.playerNotReady {
  opacity: 0.2;
}

.kickPlayer {
  position: absolute;
  top: -10px;
  left: -10px;
  cursor: pointer;
}
