@import '@killerparty/ui/assets/styles/variables.module.css';

.content {
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-large);
  background-color: var(--button-secondary);
  box-shadow: var(--shadow-large);
  border-radius: 50px;
  padding: 10px 15px;
}

.buttonPressed {
  background-color: var(--button-secondary-pressed);
}

.text {
  margin-left: 5px;
  font-size: 12px;
  color: var(--color-white);
}
